body {
  font-family: 'Arial', sans-serif;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

div {
  display: block;
}

.nav {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 12px 0;
  margin-left: auto;
  margin-right: auto;
}

.nav a {
  color: #002d81;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  display: inline-block;
}

.nav a:hover {
  color: #041222;
}

.loginmessage {
  margin-left: auto;
  padding-left: auto;
  display: inline-block;
}

.gamebox{
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}